<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="en">

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true" th:fragment="logout">
    <div class="modal-dialog" role="document">
        <form th:action="@{/logout}" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><span th:text="#{menu.logout}"></span></h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body"><span th:text="#{message.logout}"></span>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal" th:text="#{button.cancel}"></button>
                    <button type="submit" class="btn btn-danger" th:text="#{button.logout}"></button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal fade" id="deleteClient" tabindex="-1" role="dialog" aria-labelledby="deleteClientLabel"
     aria-hidden="true" th:fragment="deleteClient">
    <div class="modal-dialog" role="document">
        <form th:action="@{'/clients/' + ${clientId} + '/delete'}" name="deleteClient" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteClientLabel"><span th:text="#{menu.delete.client}"></span></h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body"><span th:text="#{message.delete.client}"></span>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal" th:text="#{button.cancel}"></button>
                    <button name="delete" type="submit" class="btn btn-danger" th:text="#{button.delete}"></button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal fade" id="deleteProject" tabindex="-1" role="dialog" aria-labelledby="deleteProjectLabel"
     aria-hidden="true" th:fragment="deleteProject">
    <div class="modal-dialog" role="document">
        <form th:action="@{'./' + ${projectId} + '/delete'}" name="deleteProject" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteProjectLabel"><span th:text="#{menu.delete.project}"></span></h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body"><span th:text="#{message.delete.project}"></span>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal" th:text="#{button.cancel}"></button>
                    <button type="submit" class="btn btn-danger" th:text="#{button.delete}" id="deleteProjectButton"></button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal fade" id="deleteDocument" tabindex="-1" role="dialog" aria-labelledby="deleteDocumentLabel"
     aria-hidden="true" th:fragment="deleteDocument">
    <div class="modal-dialog" role="document">
        <form th:action="@{${document.link} + '/delete'}" name="deleteEstimate" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteDocumentLabel"><span th:text="#{menu.document.delete}"></span></h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body"><span th:text="#{message.document.delete}"></span>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal" th:text="#{button.cancel}"></button>
                    <button type="submit" class="btn btn-danger" th:text="#{button.delete}" id="deleteDocumentButton"></button>
                </div>
            </div>
        </form>
    </div>
</div>
</html>
