<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav" th:fragment="head">
    <a class="navbar-brand" th:href="@{/home}"><img th:src="@{/images/logo.png}" src="/images/logo.png"/></a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
            <li class="nav-item" data-toggle="tooltip" data-placement="right" th:title="#{menu.home}">
                <a class="nav-link" th:href="@{/home}">
                    <i class="fas fa-fw fa-home"></i>
                    <span class="nav-link-text" th:text="#{menu.home}"></span>
                </a>
            </li>
            <li class="nav-item" data-toggle="tooltip" data-placement="right" th:title="#{menu.clients}" id="clients_dropdown">
                <a class="nav-link" th:href="@{/clients}" id="clients_link">
                    <i class="fas fa-fw fa-users"></i>
                    <span class="nav-link-text" th:text="#{menu.clients}"></span>
                </a>
            </li>
            <li class="nav-item" data-toggle="tooltip" data-placement="right" th:title="#{menu.projects}">
                <a class="nav-link" th:href="@{/projects}">
                    <i class="fas fa-fw fa-wrench"></i>
                    <span class="nav-link-text" th:text="#{menu.projects}"></span>
                </a>
            </li>
            <li class="nav-item" data-toggle="tooltip" data-placement="right" th:title="#{menu.documents}">
                <a class="nav-link" th:href="@{/documents}">
                    <i class="fas fa-fw fa-euro-sign"></i>
                    <span class="nav-link-text" th:text="#{menu.documents}"></span>
                </a>
            </li>
            <li class="nav-item" data-toggle="tooltip" data-placement="right" th:title="#{menu.enterprise}">
                <a class="nav-link" th:href="@{/enterprise}">
                    <i class="fas fa-fw fa-building"></i>
                    <span class="nav-link-text" th:text="#{menu.enterprise}"></span>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav sidenav-toggler">
            <li class="nav-item">
                <a class="nav-link text-center" id="sidenavToggler">
                    <i class="fas fa-fw fa-angle-left"></i>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
                    <i class="fas fa-fw fa-sign-out-alt"></i>Logout</a>
            </li>
        </ul>
    </div>
</nav>
</html>