<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/head :: head_default"></head>


<body class="fixed-nav sticky-footer bg-dark" id="page-top">
<!-- Navigation-->
<nav th:replace="fragments/nav :: nav"></nav>
<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a th:href="@{/home}" th:text="#{menu.home}"></a>
            </li>
            <li class="breadcrumb-item">
                <a th:href="@{/clients}" th:text="#{menu.clients}"></a>
            </li>
            <li class="breadcrumb-item active"><span th:text="#{menu.client.detail}"></span></li>
        </ol>
        <div class="alert alert-success alert-dismissable" th:if="${param.editSuccess}">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <i class="fa fa-check" aria-hidden="true"></i>&nbsp;<span th:text="#{info.client.edit.success}"></span>
        </div>
        <div class="alert alert-success alert-dismissable" th:if="${param.createSuccess}">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <i class="fa fa-check" aria-hidden="true"></i>&nbsp;<span th:text="#{info.client.create.success}"></span>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fa fa-user">&nbsp;</i><span th:text="#{menu.client.detail}"></span>
                        <a data-toggle="modal" data-target="#deleteClient"
                           class="btn btn-danger btn-sm float-right" style="margin-left:5px;"
                        id="deleteClientLink">
                            <i class="fa fa-trash text-white" aria-hidden="true"></i>
                        </a>
                        <a th:href="@{'/clients/' + ${client.id} + '/edit'}" class="btn btn-primary btn-sm float-right">
                            <i class="fa fa-edit" aria-hidden="true"></i>
                        </a>&nbsp;
                    </div>

                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-condensed table-hover table-striped" id="clientDetail">
                                <tr>
                                    <th th:text="#{client.lastName}"></th>
                                    <td th:text="${client.lastName}"></td>
                                </tr>
                                <tr>
                                    <th th:text="#{client.firstName}"></th>
                                    <td th:text="${client.firstName}"></td>
                                </tr>
                                <tr>
                                    <th th:text="#{address.street}"></th>
                                    <td th:text="${client.address.street}"></td>
                                </tr>
                                <tr>
                                    <th th:text="#{address.postCode}"></th>
                                    <td th:text="${client.address.postCode}"></td>
                                </tr>
                                <tr>
                                    <th th:text="#{address.city}"></th>
                                    <td th:text="${client.address.city}"></td>
                                </tr>
                                <tr>
                                    <th th:text="#{client.mail}"></th>
                                    <td th:text="${client.mail}"></td>
                                </tr>
                                <tr>
                                    <th th:text="#{client.phoneNumber}"></th>
                                    <td th:text="${client.phoneNumber}"></td>
                                </tr>
                                <tr>
                                    <th th:text="#{client.taxNumber}"></th>
                                    <td th:text="${client.taxNumber}"></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fa fa-wrench">&nbsp;</i><span th:text="#{menu.projects}"></span>
                        <a th:href="@{'./'+ ${client.id} +'/projects/create'}"
                           class="btn btn-primary btn-sm float-right">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </a>&nbsp;
                    </div>

                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-condensed table-hover table-striped" id="projects">
                                <thead>
                                <tr>
                                    <th>
                                        <span th:text="#{project.description}"></span>
                                    </th>
                                    <th>
                                        <span th:text="#{menu.detail}"></span>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="project : ${client.projects}">
                                    <td th:text="${project.description}"></td>
                                    <td>
                                        <a th:href="@{'./' + ${client.id} +'/projects/' + ${project.id}}">
                                            <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fa fa-wrench">&nbsp;</i><span th:text="#{menu.estimates}"></span>
                        <a th:href="@{'./'+ ${client.id} +'/estimates/create'}"
                           class="btn btn-primary btn-sm float-right">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </a>&nbsp;
                    </div>

                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-condensed table-hover table-striped" id="estimates">
                                <thead>
                                <tr>
                                    <th>
                                        <span th:text="#{document.code}"></span>
                                    </th>
                                    <th>
                                        <span th:text="#{menu.detail}"></span>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="estimate : ${client.estimates}">
                                    <td th:text="${estimate.code}"></td>
                                    <td>
                                        <a th:href="@{'./' + ${client.id} +'/estimates/' + ${estimate.id}}">
                                            <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fa fa-wrench">&nbsp;</i><span th:text="#{menu.services}"></span>
                        <a th:href="@{'./'+ ${client.id} +'/services/create'}"
                           class="btn btn-primary btn-sm float-right">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </a>&nbsp;
                    </div>

                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-condensed table-hover table-striped" id="services">
                                <thead>
                                <tr>
                                    <th>
                                        <span th:text="#{document.code}"></span>
                                    </th>
                                    <th>
                                        <span th:text="#{menu.detail}"></span>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="service : ${client.services}">
                                    <td th:text="${service.code}"></td>
                                    <td>
                                        <a th:href="@{'./' + ${client.id} +'/services/' + ${service.id}}">
                                            <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
        <div class="container">
            <div class="text-center">
            </div>
        </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div th:replace="fragments/modals :: logout"></div>
    <div th:replace="fragments/modals :: deleteClient"></div>

    <!-- Bootstrap core JavaScript-->
    <th:block th:include="fragments/scripts :: scripts"/>
</div>
</body>
</html>