<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/head :: head_default"></head>


<body class="fixed-nav sticky-footer bg-dark" id="page-top">
<!-- Navigation-->
<nav th:replace="fragments/nav :: nav"></nav>
<div class="content-wrapper">
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a th:href="@{/home}" th:text="#{menu.home}"></a>
            </li>
            <li class="breadcrumb-item">
                <a th:href="@{/clients}" th:text="#{menu.clients}"></a>
            </li>
            <li class="breadcrumb-item">
                <a th:href="@{'/clients/' + ${client.id}}" th:text="#{menu.client.detail}"></a>
            </li>
            <li class="breadcrumb-item">
                <a th:href="@{'/clients/' + ${client.id} + '/projects/' + ${project.id}}"
                   th:text="#{menu.project.detail}"></a>
            </li>
            <li class="breadcrumb-item active"><span th:text="#{menu.document.new}"></span></li>
        </ol>

        <div class="card">
            <div class="card-header"><i class="fa fa-wrench">&nbsp;</i><span
                    th:text="#{menu.projectInvoice.new}"></span></div>
            <div class="card-body">
                <form th:action="@{./create}" name="createDocument" th:object="${document}" method="post">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="code" th:text="#{document.code}" class="text-primary"></label>
                                <span th:if="${#fields.hasErrors('code')}" th:errors="*{code}"
                                      class="text-danger"></span>
                                <input class="form-control" id="code" type="text" th:field="*{code}"/>
                            </div>
                            <div class="form-group">
                                <label for="taxRate" th:text="#{document.taxRate}" class="text-primary"></label>
                                <span th:if="${#fields.hasErrors('taxRate.value')}" th:errors="*{taxRate.value}"
                                      class="text-danger"></span>
                                <input class="form-control" id="taxRate" type="text" th:field="*{taxRate.value}"/>
                            </div>
                            <div class="form-group">
                                <label for="creationDate" th:text="#{document.creationDate}"
                                       class="text-primary"></label>
                                <span th:if="${#fields.hasErrors('creationDate')}" th:errors="*{creationDate}"
                                      class="text-danger"></span>
                                <input class="form-control" id="creationDate" type="date" th:field="*{creationDate}"/>
                            </div>
                            <div class="form-group">
                                <label for="paymentDate" th:text="#{document.paymentDate}"
                                       class="text-primary"></label>
                                <span th:if="${#fields.hasErrors('paymentDate')}" th:errors="*{paymentDate}"
                                      class="text-danger"></span>
                                <input class="form-control" id="paymentDate" type="date" th:field="*{paymentDate}"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <a th:href="@{'/clients/' + ${client.id}}" class="btn btn-danger btn-block"><span
                                    th:text="#{button.cancel}"></span></a>
                        </div>
                        <div class="col-lg-6">

                            <button type="submit" class="btn btn-primary btn-block"
                                    th:text="#{button.validate}"></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
        <div class="container">
            <div class="text-center">
            </div>
        </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div th:replace="fragments/modals :: logout"></div>

    <!-- Bootstrap core JavaScript-->
    <th:block th:include="fragments/scripts :: scripts"/>

</div>
</body>
</html>