<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/head :: head_default"></head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
<!-- Navigation-->
<nav th:replace="fragments/nav :: nav"></nav>
<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a th:href="@{/home}" th:text="#{menu.home}"></a>
            </li>
            <li class="breadcrumb-item active"><span th:text="#{menu.quick.access}"></span></li>
        </ol>

        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fa fa-users">&nbsp;</i><span th:text="#{menu.last.clients}"></span></div>
                    <div class="card-body">
                        <table class="table">
                            <tr th:each="client : ${clients}">
                                <td><span th:text="${client.lastName} + ' ' + ${client.firstName}"></span></td>
                                <td><a th:href="@{${client.link}}"><i class="fa fa-arrow-right" aria-hidden="true"></i></a></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fa fa-wrench">&nbsp;</i><span th:text="#{menu.last.projects}"></span></div>
                    <div class="card-body">
                        <table class="table">
                            <tr th:each="project : ${projects}">
                                <td><span th:text="${project.description}"></span></td>
                                <td><a th:href="@{${project.link}}"><i class="fa fa-arrow-right" aria-hidden="true"></i></a></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fa fa-eur">&nbsp;</i><span th:text="#{menu.last.documents}"></span></div>
                    <div class="card-body">
                        <table class="table">
                            <tr th:each="document : ${documents}">
                                <td><span th:text="${document.code}"></span></td>
                                <td><a th:href="@{${document.link}}"><i class="fa fa-arrow-right" aria-hidden="true"></i></a></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
        <div class="container">
            <div class="text-center">
            </div>
        </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div th:replace="fragments/modals :: logout"></div>

    <!-- Bootstrap core JavaScript-->
    <th:block th:include="fragments/scripts :: scripts"/>

</div>
</body>
</html>